@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Archivo+Narrow&display=swap');

.maincard {
  border-color: aquamarine;
  background-color: aqua;
  color: green;
}

.CarouselCaption {
  color: black;
}

body {
  background-image: url(/public/img/kakuyacoffee.jpg);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

#jumbotron {
  background-image:linear-gradient(rgb(71, 109, 192), rgba(83, 100, 155, 0.418));
}

h1,h3 {
  color: rgb(202, 207, 202);
  font-family: 'Advent Pro', sans-serif;
  
}